body * {
    padding: 0;
    margin: 0;
}
#input-container {
    display: inline-block;
    height: 400px;
    width: 300px;
    border:solid red 2px;
}
.green-border {
    border: solid green 2px;
}
.red-border {
    border: solid red 2px;
}
.yellow-border {
    border: solid yellow 2px;
}